{% include 'header.html' %}
<div class="container col-xxl-8 px-4 py-5" bis_skin_checked="1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" bis_skin_checked="1">
      <div class="col-10 col-sm-8 col-lg-6" bis_skin_checked="1">
        <img src="https://getbootstrap.com/docs/5.3/examples/heroes/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6" bis_skin_checked="1">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Home Page</h1>
        <p class="lead">Welcome to My website. This is a normal website and not fully functional as the main purpose of this project is to revise Flask framework basics.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" bis_skin_checked="1">
        </div>
      </div>
    </div>
  </div>